version: '3.8'
services:
  web:
    build: ../backend
    ports:
      - "5000:5000"
    depends_on:
      - db
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: dekanat_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data:
